<div class="container">
  <div class="mainCard">
    <div class="verticalLine">
      <div class="card">
        <div class="plus">
          <span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></span>
        </div>
        <p>add pin</p>
      </div>

      <span *ngFor="let info of information">
   <div class="check">
       <div class="row">
         <div class="col-sm-4">
         <img src="./assets/identicon.png" class="github-prof-image" alt="" />
         </div>
         <div class="col-sm-8">
           <span class="Angular2">{{Title}}</span><br>
      <span class="Desc">New framework has </span><br>
      <span class="date">{{date | date}}</span>
      <span class="web">picaboo.com</span>
    </div>
  </div>

  <div class="description row">
    Working of components and services in Angular 2
  </div>

  <div class="demo row">
 <div class="firstchild  col-sm-3">
    <div class="ion-thumbsup">
      <p class="likes">20 Likes</p>
    </div>

    </div>
  <div class="col-sm-3">
    <div class="views glyphicon glyphicon-eye-open" id="views">
      <p class="eye">Views</p>
    </div>
  </div>
  <div class="hover123">
    <app-footer-hover></app-footer-hover>
</div>
</div>
  <div>
      <app-footer></app-footer>
</div>
  </div>
</span>


</div>
</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Link</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <input type="text" class="link" #newInfo/>
          <button type="button" class="btn" (click)=addInfo(newInfo)>Add</button>

        </div>
      </div>
    </div>
  </div>
</div>
